apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-pv
spec:
  capacity:
    storage: 2Gi
  accessModes: 
  - ReadWriteOnce
  storageClassName: ""
  hostPath:
    path: /data/media