apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-pvc
  namespace: foodgram
spec:
  accessModes: 
  - ReadWriteOnce
  storageClassName: ""
  resources:
    requests:
      storage: 2Gi
  volumeName: media-pv