apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: static-pvc
  namespace: foodgram
spec:
  accessModes: 
  - ReadWriteOnce
  storageClassName: ""
  resources:
    requests:
      storage: 1Gi
  volumeName: static-pv