apiVersion: v1
kind: PersistentVolume
metadata:
  name: static-pv
spec:
  capacity:
    storage: 1Gi
  accessModes: 
  - ReadWriteOnce
  storageClassName: ""
  hostPath:
    path: /data/static